@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt/Prompt-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt/Prompt-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt/Prompt-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt/Prompt-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Prompt';
    src: url('../fonts/Prompt/Prompt-Bold.ttf');
    font-weight: 800;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Thin.ttf');
    font-weight: 100;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Light.ttf');
    font-weight: 200;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'Kanit';
    src: url('../fonts/Kanit/Kanit-Bold.ttf');
    font-weight: 800;
}