@import './transition.scss';
@import './color.scss';
@import './fonts.scss';
@import './slick.scss';


.h-100 {
    height: 100%;
}


html {
    height: 100vh;
    height: var(--app-height);
    touch-action: manipulation;
  }
  
body {
    height: 100vh;
    height: var(--app-height);
    >* {
        font-family: 'Kanit' !important;
    }
}

#app {
    height: calc(var(--vh, 1vh) * 100);
}

.blur {
    height: calc(var(--vh, 1vh) * 100);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    -webkit-filter: blur(12px);
    -moz-filter: blur(12px);
    -o-filter: blur(12px);
    -ms-filter: blur(12px);
    filter: blur(12px);
}